## Des répertoires et des fichiers générés par VS.
/.vs/												## Contient le db.lock, storage.ide et applicationhost.config.
/.builds/
/TestResults/
/**/Properties/launchSettings.json			
/**/bin/ 											## Le répertoire des binaires
/**/obj/											## Contient des .pdb et autres merdes.
	
	
# Les packets générés par NuGet.
/packages											## Les packets NuGet.

/Ben.Tools/bin/Debug
/Ben.Tools/obj/Debug
/Ben.Tools/v15
/Ben.Tools.Tests/bin/Debug
/Ben.Tools.Tests/obj/Debug
/packages
