# Des répertoires et des fichiers générés par VS.
	.vs/												# Contient le db.lock, storage.ide et applicationhost.config.
	.builds/
	TestResults/
	**/Properties/launchSettings.json			
	**/bin/ 											# Le répertoire des binaires
	**/obj/*												# Contient des .pdb et autres merdes.
	
	
# Les packets générés par NuGet.
	packages/*											# Les packets NuGet.
	!packages/build/	
	*.nupkg
	*.nuget.props
	*.nuget.targets

# Autres fichiers 
	*.suo
	*.user
	*.userosscache
	*.sln.docstates
	*.meta
	*.obj
	*.pch
	*.pdb
	*.log
