## Des répertoires et des fichiers générés par VS.
/.vs/												## Contient le db.lock, storage.ide et applicationhost.config.
/.builds/
/TestResults/
/**/Properties/launchSettings.json			
/**/bin/ 											## Le répertoire des binaires
/**/obj/											## Contient des .pdb et autres merdes.
	
	
# Les packets générés par NuGet.
/packages											## Les packets NuGet.

/BenTools/Ben.Tools/bin/Debug
/BenTools/Ben.Tools/obj/Debug
/BenTools/Ben.Tools/v15
/BenTools/Ben.Tools.Tests/bin/Debug
/BenTools/Ben.Tools.Tests/obj/Debug
/packages
/Ben.Tools/bin/Debug
/Ben.Tools/obj/Debug
/Ben.Tools.Tests/bin/Debug
/Ben.Tools.Tests/obj/Debug
/.vs/Ben.Tools/v15/Server/sqlite3
/.vs/config
/Ben.Tools.Development/obj/Debug
/Ben.Tools.Development/bin/Debug
/Ben.Tools.Asp/obj
/Ben.Tools.Asp/bin/Debug/netcoreapp2.0
.vs/Ben.Tools/v16
